<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <p> {{ content }}</p>
  <hr>
  <app-my-nested></app-my-nested>
  <app-my-property-binding> </app-my-property-binding>
<app-my-event-binding></app-my-event-binding>

<app-my-mixed-binding></app-my-mixed-binding>

<app-my-two-way-binding></app-my-two-way-binding>
<app-built-in-pipes></app-built-in-pipes>
<app-custom-pipes></app-custom-pipes>
<app-ng-for-example></app-ng-for-example>
</div>
